@{
    ViewBag.Title = "О компании";
}
<h2>@ViewBag.Title</h2>
<h3>Бон Аппетит</h3>

<p>
    Пекарня Бон Аппетит рада предложить Вам хлеб и хлебобулочные изделия собственного производства.
</p>
<p>
    Наши изделия – это высококачественные продукты питания. Мы работаем исключительно на натуральном сырье. 
    Технология изготовления нашего хлеба отвечает самым современным требованиям рационального, здорового питания.
</p>
<div class="row">
    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
            <img src="~\App_Data\Image\About1.gif" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
            <img src="~\App_Data\Image\About2.gif" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
            <img src="~\App_Data\Image\About3.gif" alt="">
        </a>
    </div>
</div>
<p>
    Предлагаем Вам:
    <ul>
        <li>русский, украинский хлеб</li>
        <li>итальянский хлеб и булочки</li>
        <li>французские низкокалорийные изделия</li>
        <li>хлеб с натуральными добавками – сухофруктами, орехами, оливками, маслинами, томатами, сыром, пряными травами и прочее</li>
    </ul>
</p>
<p>
    Вся продукция пекарни сертифицирована. Лучшие специалисты своего дела выполнят Ваш индивидуальный заказ: изделия любого размера и формы, для праздничного стола и на каждый день.
</p>



