@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-4">
        <p><strong>Наш адрес:</strong></p>
        <address>
            РОссийская федрация, Томская обл.,<br />
            г. Томск, ул. Красноармейская, д. 20<br />
            <abbr title="Телефон">Т:</abbr>
            79183430970
        </address>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <p><strong>Контактные телефоны:</strong></p>
        <address class="form-inline">
            <div class="pull-left">
                Ресторан: 79183430970 <br />
                Офис компании: 79183430970 <br />
                Отдел продаж: 79183430970 <br />
                Отдел снабжения: 79183430970 <br />
                Отдел персонала: 79183430970
            </div>
            <div class="pull-right">
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><br />
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><br />
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><br />
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><br />
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
            </div>
        </address>
    </div>
</div>


<address>
    <strong>Техподдержка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Отдел продаж:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    <strong>Отдел персонала:</strong> <a href="mailto:GoodJob@example.com">Marketing@example.com</a><br />
    <strong>Заказы:</strong>   <a href="mailto:buybuy@example.com">buybuy@example.com</a><br />
</address>