@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>


<address>
    One Microsoft Way<br />
    Томск, Красноармейская<br />
    <abbr title="Телефон">Т:</abbr>
    79183430970
</address>

<address>
    <strong>Техподдержка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    <strong>Трудоустройство:</strong> <a href="mailto:GoodJob@example.com">Marketing@example.com</a><br />
    <strong>Заказы:</strong>   <a href="mailto:buybuy@example.com">buybuy@example.com</a><br />
</address>